{% extends 'base.html.twig' %}

{% set route_name = app.request.attributes.get('_route') %}

{% block title %}Hello OfferController!
{% endblock %}

{% block body %}
    <h1 class="display-4 text-center">
        Offres
    </h1>
    <br>
    <div class="container text-end">
        <a class="btn btn-outline-dark btn-sm " id="btn_delete" href="{{ path('create_offer') }}">Créer une offre</a>
    </div>
    <br>
    <div class="row justify-content-center">

        {% for offer in offers %}
            <div class="card mb-4 px-0" style="width: 20rem;">
                <h6 class="card-header">{{ offer.company.name }}</h6>
                <div class="card-body">
                    <h5 class="card-title">{{ offer.description }}</h5>
                    <div>Compétences requises :
                        {% for skill in offer.skills %}
                            <h6 class="card-text mb-2">{{ skill.skills }}</h6>
                        {% endfor %}
                    </div>
                    <div class="text-center mt-2">
                <a class="btn btn-outline-dark btn-sm "
                   href="{{ path('offer_edit',  {'id': offer.id}) }}">Modifier mon offre</a>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    {% if offer.status == 'online' %}
                        Vous pouvez Postuler à cette offre.
                    {% else %}
                        Vous ne pouvez pas Postuler à cette offre.
                    {% endif %}
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    <br>
{% endblock %}