{% extends 'base.html.twig' %}

{% set route_name = app.request.attributes.get('_route') %}

{% block title %} Company{% endblock %}

{% block body %}
    <h1 class="display-4 text-center">
        Entreprises
    </h1>
    <br>
    <div class="container text-end">

        <a class="btn btn-outline-dark btn-sm " href="{{ path('company_create') }}">Inscrivez votre entreprise</a>
    </div>
    <br>

    <div class="container ">
        <div class="row justify-content-center">
            {% for company in companies %}
                <div class="card mb-4" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ company.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ company.email }}</h6>
                        <div class="text-end">
                            <a class="btn btn-outline-dark btn-sm "
                               href="{{ path('company_edit', {'id' : company.id}) }}">Mofifiez votre profil
                                d'entreprise</a>
                            <a class="btn btn-outline-dark btn-sm "
                               href="{{ path('company_offers', {'id' : company.id}) }}">Consulter les offres</a>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}


        </div>
    </div>
{% endblock %}
